<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>@ViewData["Title"] - prueba_toka</title>
  </head>

  <body class="text-center bg-light">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
      <header class="mb-auto">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
          <a class="mr-4" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.svg" style="width: 8rem" />
          </a>
          <button
            class="navbar-toggler navbar-light border border-white"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a
                  href="/Home/Login"
                  class="nav-link active"
                  role="button"
                  aria-pressed="true"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="/Home/Register"
                  class="nav-link active"
                  role="button"
                  aria-pressed="true"
                  >Registrarse</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <main role="main" class="inner container-sm px-4 py-3">
        @RenderBody()
      </main>

      <footer class="bg-dark text-white p-3 mt-auto">
        <div class="inner">
          Created by
          <a href="https://github.com/yorologo" class="text-white"
            ><b>Yorologo</b></a
          >
        </div>
      </footer>
    </div>

    <!-- JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
