@model prueba_toka.Models.User;

@{
  ViewData["Title"] = "Question";
}

<div class="card mb-3">
  <div class="card-header">
    <h3>Crea tu cuenta</h3>
  </div>
  <div class="card-body">
    <div asp-validation-summary="ModelOnly" class="alert alert-primary" role="alert"></div>
    <form method="POST" action="/User/CreateUser" role="form">
      <div class="form-group text-left">
        <label asp-for="Name"></label>
        <input
          type="text"
          class="form-control"
          asp-for="Name"
          placeholder="Ingrese su nombre"
          pattern=".{3,}"
          required
        />
        <small class="form-text text-muted"
          >Debe tener como minimo 3 caracteres</small
        >
      </div>
      <div class="form-group text-left">
        <label asp-for="Email"></label>
        <input
          type="email"
          class="form-control"
          asp-for="Email"
          placeholder="Ingrese su correo"
          required
        />
      </div>
      <div class="form-group text-left">
        <label asp-for="Password"></label>
        <input
          type="password"
          class="form-control"
          asp-for="Password"
          placeholder="Ingrese su contraseña"
          pattern=".{6,}"
          required
        />
        <small class="form-text text-muted"
          >Debe tener como minimo 6 caracteres</small
        >
        <small class="form-text text-muted"
          >Solamente carcateres Alfanumericos</small
        >
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">
          Registrarse
        </button>
      </div>
    </form>
  </div>
</div>
